@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Plus+Jakarta+Sans&family=Poppins&display=swap");

* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

.survery_widget_container {
	padding: 25px;
	padding-top: 35px;
	background-color: #1a1a1a;
	display: flex;
	justify-content: flex-start;
	flex-flow: column nowrap;
	align-items: flex-start;
}

.survery_widget_title {
	font-family: "Bebas Neue";
	font-weight: 100;
	font-size: 50px;
	line-height: 45px;
	color: #ffffff;
}
.survery_widget_description {
	font-family: "Poppins";
	margin-bottom: 20px;
	margin-top: 15px;
	font-weight: 100;
	font-size: 14px;
	line-height: 21px;
	color: #a0a0a0;
}
.survery_widget_progress_bar {
	width: 100%;
	margin-bottom: 25px;
}

.survery_widget_question {
	font-family: "Bebas Neue";
	font-weight: 100;
	font-size: 30px;
	margin-bottom: 20px;
	line-height: 30px;
	color: #ffffff;
}

.survery_widget_choices_container {
	display: flex;
	flex-flow: row wrap;
	row-gap: 6px;
	column-gap: 6px;
}

.widget_choice_container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 20px;
	border: 2px solid #ffffff;
	border-radius: 5px;
	min-height: 50px;
	width: 100%;
}

.widget_choice {
	font-family: "Plus Jakarta Sans";
	font-size: 14px;
	font-weight: 100;
	line-height: 18px;
	color: #ffffff;
}
.widget_choice_selected {
	background-color: #f7d725;
	color: #ffffff;
}

.widget_submit_button {
	margin-top: 20px;
	border: none;
	padding: 10px;
	background-color: #f7d725;
	color: #ffffff;
}

.widget_back_button {
	font-family: "Plus Jakarta Sans";
	text-decoration: underline;
	font-size: 14px;
	line-height: 18px;
	background-color: #1a1a1a;
	border: none;
	color: #a0a0a0;
	margin-left: 5px;
	margin-top: 20px;
}

.widget_input {
	outline: none;
	display: flex;
	font-family: "Plus Jakarta Sans";
	font-size: 14;
	line-height: 18;
	justify-content: flex-start;
	align-items: center;
	padding-left: 20px;
	background-color: #1a1a1a;
	border: 2px solid #ffffff;
	color: #ffffff;
	-webkit-appearance: none;
	border-radius: 5px;
	height: 50px;
	width: 100%;
}
.widget_input::placeholder {
	font-family: "Plus Jakarta Sans";
	font-style: normal;
	color: #ffffff;
}

.widget_submit_button {
	font-family: "Plus Jakarta Sans";
	border-radius: 5px;
	height: 50px;
	font-size: 14px;
	line-height: 18px;
	color: #1a1a1a;
	font-weight: 700;
}
